In [83]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import os
import warnings
warnings.filterwarnings('ignore')

In [90]:
mouse_data = os.path.join("data", "mouse_drug_data.csv")
clinical_data = os.path.join("data", "clinicaltrial_data.csv")

mouse_df = pd.read_csv(mouse_data)
clinical_df = pd.read_csv(clinical_data)

merged_df = pd.merge(mouse_df, clinical_df, how="outer", on="Mouse ID")

merged_df.head()

  Mouse ID      Drug  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0     f234  Stelasyn          0           45.000000                 0
1     f234  Stelasyn          5           47.313491                 0
2     f234  Stelasyn         10           47.904324                 0
3     f234  Stelasyn         15           48.735197                 1
4     f234  Stelasyn         20           51.112713                 2

In [91]:
# Store the Mean Tumor Volume Data Grouped by Drug and Timepoint 

tumor_mean = merged_df.groupby(["Drug", "Timepoint"])["Tumor Volume (mm3)"].mean()
tumor_mean_df = pd.DataFrame({"Tumor Volume (mm3)": tumor_mean}).reset_index()
tumor_mean_df

         Drug  Timepoint  Tumor Volume (mm3)
0   Capomulin          0           45.000000
1   Capomulin          5           44.266086
2   Capomulin         10           43.084291
3   Capomulin         15           42.064317
4   Capomulin         20           40.716325
..        ...        ...                 ...
95  Zoniferol         25           55.432935
96  Zoniferol         30           57.713531
97  Zoniferol         35           60.089372
98  Zoniferol         40           62.916692
99  Zoniferol         45           65.960888

[100 rows x 3 columns]

In [93]:
# Store the Standard Error of Tumor Volumes Grouped by Drug and Timepoint

tumor_sterror = merged_df.groupby(["Drug", "Timepoint"])["Tumor Volume (mm3)"].sem()
tumor_sterror_df = pd.DataFrame({"Tumor Volume (mm3)": tumor_sterror}).reset_index()
tumor_sterror_df

         Drug  Timepoint  Tumor Volume (mm3)
0   Capomulin          0            0.000000
1   Capomulin          5            0.448593
2   Capomulin         10            0.702684
3   Capomulin         15            0.838617
4   Capomulin         20            0.909731
..        ...        ...                 ...
95  Zoniferol         25            0.602513
96  Zoniferol         30            0.800043
97  Zoniferol         35            0.881426
98  Zoniferol         40            0.998515
99  Zoniferol         45            1.003576

[100 rows x 3 columns]

In [ ]:
# merged_df[merged_df.Drug == "Capomulin"]
# merged_df[merged_df.Drug == "Ramicane"]
# merged_df[merged_df.Drug == "Stelasyn"]
# merged_df[merged_df.Drug == "Ketapril"]
# merged_df[merged_df.Drug == "Naftisol"]
# merged_df[merged_df.Drug == "Zoniferol"]
# merged_df[merged_df.Drug == "Placebo"]
# merged_df[merged_df.Drug == "Infubinol"]
# merged_df[merged_df.Drug == "Ceftamin"]
# merged_df[merged_df.Drug == "Propriva"]

In [ ]:
# merged_df["Drug"].value_counts()
# merged_df["Tumor Volume (mm3)"].describe()
# merged_df.groupby(["Drug", "Timepoint"])["Tumor Volume (mm3)"].size()
# merged_df.loc[merged_df.groupby(["Drug", "Timepoint"])["Tumor Volume (mm3)"].mean()